{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h2>{{ detail.title }}</h2>
                        <h1>{{ detail.date }}</h1>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ detail.duration }}</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ detail.learned }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <p>{{ detail.resources }}</p>
                        </div>
                        <div class="entry">
                            <h3>Tags:</h3>
                            <p>{{ detail.tag1 }} {{ detail.tag2 }}</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="edit">
                <p><a href="{{ url_for('edit', slug=detail.slug) }}">Edit Entry</a></p>
            </div>
            <div class="edit">
                <p><a href="{{ url_for('delete', slug=detail.slug) }}">Delete Entry</a></p>
            </div>
        </section>
{% endblock %}
