{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="new-entry">
                    <h2>Edit Entry</h2>
                    <form class="form" action="" method="post">
                      {{ form.hidden_tag() }}
                      {% for field in form %}
                        <div class="field">
                          {% if field.errors %}
                            {% for error in field.errors %}
                              <div class="notification error">{{ error }}</div>
                            {% endfor %}
                          {% endif %}
                          {{ field.label.text }}<br>
                          {{ field }}
                        </div>
                      {% endfor %}
                      <button type="submit" id="submit">Submit Edits</button>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}
