<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Please enter a username and password to login:</h2>
    <form class="form" action="" method="post">
      {{ form.hidden_tag() }}
      {% for field in form %}
        {{ field.label.text }}
        {{ field }}<br>
      {% endfor %}
      <button type="submit" id="submit">Login!</button>
    </form>
    <a class="" href="{{ url_for('register') }}"><span>Register</span></a>
  </body>
</html>
