<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Please enter a username and password to register:</h2>
    <form class="form" action="" method="post">
      {{ form.hidden_tag() }}
      {% for field in form %}
        <div class="field">
          {% if field.errors %}
            <div class="notification error">{{ error }}></div>
          {% endif %}
        </div>
        {{ field.label.text }}
        {{ field }}<br>
      {% endfor %}
      <button type="submit" id="submit">Register!</button>
    </form>
  </body>
</html>
