{% extends 'base.html' %}
{% block content %}
        <section>
            <div class="container">
                <div class="entry-list">
                  {% for entry in tag_entries %}
                    <article class="">
                      <h2>
                        <a href="{{ url_for('details', slug=entry.slug) }}">{{ entry.title }}</a>
                      </h2>
                      <h3>Date: {{ entry.date }}</h3>
                      <h3>Tags: <a href="{{ url_for('tags', tag=entry.tag1) }}">{{ entry.tag1 }}</a> <a href="{{ url_for('tags', tag=entry.tag2) }}">{{ entry.tag2 }}</a></h3>
                    </article>
                  {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}
